/* -----------------------------------------------
Basic Setting
------------------------------------------------- */

/*--- Font ---*/
$path-font: "../fonts/";
$browser-font-context: 20px;
$font-color: #333;
$font-weight: 400;
$line-height: 1.5em;
$font-head:'Prompt', Thonburi, Arial, sans-serif;
$font-stack: 'CS ChatThai', Thonburi, Arial, sans-serif;;

/*--- Path of Image ---*/
$path-img : "../images";

/*--- Breakpoints Media Query ---*/

$xs: 320px; // Extra small screen / phone
$sm: 576px; // Small screen / phone
$md: 768px; // Medium screen / tablet
$lg: 992px; // Large screen / desktop
$xl: 1200px; // Extra large screen / wide desktop


/*--- Link ---*/
$body-link-color: #000;
$body-link-color-hover: #333;

$primary-color: #1A988B;
$primary-link-color: #0BB890;
$primary-bg-color: #333333;
$primary-link-bg-color: #fff;

$bg-gray-color: #E7E7E7;

$bg-badge: #333;
$txt-badge: #fff;
